<div class="container">
    <!-- <mat-card-header>
        <mat-card-title *ngIf="!data?.rowData"><i class="fas fa-plus-circle fa-xl"></i>&nbsp; {{'Add Company'|translateToArabic:languageFactor}}</mat-card-title>
        <mat-card-title *ngIf="data?.rowData"><i class="fas fa-edit fa-xl"></i>&nbsp; {{'Edit Company'|translateToArabic:languageFactor}}</mat-card-title>
    </mat-card-header>
    <br> -->
        <form [formGroup]="form" class="example-form row">
            <div class="mb-3 col-sm-6 col-xs-12">
                <app-input-field class="w-100"
                    [label]="'Company Name' | translateToArabic: languageFactor"
                    [languageFactor]="languageFactor"
                    [icon]="'pi pi-briefcase'"
                    [isRequired]="hasRequiredValidator(form, 'Name')"
                    [isValid]="form.get('Name')?.valid">
                    <input type="text" pInputText formControlName="Name" />
                </app-input-field>
                <small class="text-danger" *ngIf="form.get('Name')?.hasError('required')">{{'Required'|translateToArabic:languageFactor}}</small>
            </div>
            <div class="mb-3 col-sm-6 col-xs-12">
                <app-input-field class="w-100"
                    [label]="'Phone Number' | translateToArabic: languageFactor"
                    [languageFactor]="languageFactor"
                    [icon]="'pi pi-phone'"
                    [isRequired]="hasRequiredValidator(form, 'Phone')"
                    [isValid]="form.get('Phone')?.valid">
                    <input type="number" pInputText formControlName="Phone" />
                </app-input-field>
                <small class="text-danger" *ngIf="form.get('Phone')?.hasError('required')">{{'Required'|translateToArabic:languageFactor}}</small>
            </div>
            <div class="mb-3 col-sm-6 col-xs-12">
                <app-input-field class="w-100"
                    [label]="'Email' | translateToArabic: languageFactor"
                    [languageFactor]="languageFactor"
                    [icon]="'pi pi-envelope'"
                    [isRequired]="hasRequiredValidator(form, 'Email')"
                    [isValid]="form.get('Email')?.valid">
                    <input type="text" pInputText formControlName="Email" placeholder="Ex. name@example.com" />
                </app-input-field>
                <small class="text-danger" *ngIf="form.get('Email')?.hasError('required')">{{'Required'|translateToArabic:languageFactor}}</small>
                <small class="text-danger" *ngIf="form.get('Email')?.hasError('email')">{{'Invalid Email'|translateToArabic:languageFactor}}</small>
            </div>
            <div class="mb-3 col-sm-6 col-xs-12">
                <app-input-field class="w-100"
                    [label]="'Location' | translateToArabic: languageFactor"
                    [languageFactor]="languageFactor"
                    [icon]="'pi pi-map-marker'"
                    [isRequired]="hasRequiredValidator(form, 'Location')"
                    [isValid]="form.get('Location')?.valid">
                    <input type="text" pInputText formControlName="Location"/>
                </app-input-field>
                <small class="text-danger" *ngIf="form.get('Location')?.hasError('required')">{{'Required'|translateToArabic:languageFactor}}</small>
            </div>
            <div class="mb-4 col-md-12 text-center">
                <div class="d-flex align-items-center justify-content-center w-100" (drop)="onFileDrop($event)" (dragover)="onDragOver($event)" (dragleave)="onDragLeave($event)">
                    <label for="up" class="w-100">
                      <div class="upload-container my-2">
                        <div class="upload-label">
                          <img class="upload-img rounded-circle" [src]="selectedImageUrl || '../../../../../assets/images/photo-file.svg'" alt="" width="50" height="50">
                          <input #files type="file" id="up" class="upload-input" name="files" accept="image/*" (change)="handleFileInputChange($event)">
                          <div *ngIf="languageFactor == 'en'" class="text-center">Drop or<span class="text-primary"> Select Image</span></div>
                          <div *ngIf="languageFactor == 'ar'" class="text-center"><span class="text-primary">أختر صور</span>أدرج أو </div>
                        </div>
                      </div>
                    </label>
                </div>
              </div>
        </form>
    <!-- <mat-card-actions>
        <button mat-raised-button color="primary" [disabled]="form.invalid" type="submit" (click)="submit()">{{'Save'|translateToArabic:languageFactor}}</button>
        <button mat-raised-button color="warn" (click)="onCancel()">{{'Cancel'|translateToArabic:languageFactor}}</button>
    </mat-card-actions> -->
    <div class="add-actions">
        <button pButton (click)="submit()" class="add-btn add-save-btn" [disabled]="form.invalid">
          <i class="pi pi-save"></i> {{'Save'|translateToArabic:languageFactor}}
        </button>
        <button pButton (click)="onCancel()" class="add-btn add-cancel-btn">
          <i class="pi pi-times"></i> {{'Cancel'|translateToArabic:languageFactor}}
        </button>
    </div>
</div>
