/* .table_cell{
    min-width:10rem;
} */
.profile_img{
    width: 50px;
    height: 50px;
    min-width: 50px;
    min-height: 50px;
    display: flex;
    border-radius: 50%;
    background: #dfdfdf;
    padding: 5px;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 0px 15px 0px #a9a9a9a8;
}

tbody, td, tfoot, th, thead, tr {
    //width: 166px !important;
    text-align: center !important;
}
.check-btn-container {
    position: relative;
    width: 22px;
    height: 22px;
    ::ng-deep.p-button {
        width: 100% !important;
        height: 100% !important;
    }
    .icon {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
    }
}
.colspan-header {
    border: 1px solid #FFF !important;
}
.attatchment-checked .p-checkbox .p-checkbox-box.p-highlight{
    background-color: red !important;
}
.bool-icon {
    font-family: 'primeicons';
    position: relative;
    font-style: normal;
    display: inline-block;
    padding: 10px;
    background: #f5f5f5;
    border-radius: 50%;
    width: 27px;
    height: 27px;
    box-shadow: 0px 0px 0px 0.5px #00000029;
}
.bool-icon:before {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
