<div class="container" [ngClass]="styleClass">
    <!-- <mat-card-header>
        <mat-card-title *ngIf="!data?.rowData"><i class="fas fa-plus-circle fa-xl"></i>&nbsp; {{'Add User'|translateToArabic:languageFactor}}</mat-card-title>
        <mat-card-title *ngIf="data?.rowData"><i class="fas fa-edit fa-xl"></i>&nbsp; {{'Edit User'|translateToArabic:languageFactor}}</mat-card-title>
    </mat-card-header> -->

        <form [formGroup]="form" class="example-form row">
            <!-- Role -->
            <div *ngIf="showRoleAdd"  class="mb-3 col-md-4 col-sm-6 col-xs-12">
                <app-input-field
                    [label]="'Select Role' | translateToArabic: languageFactor"
                    [isRequired]="hasRequiredValidator('RoleID')"
                    [isValid]="form.get('RoleID')?.valid"
                    [icon]="'pi pi-briefcase'">
                    <p-dropdown
                        placeholder="{{ 'Select' | translateToArabic: languageFactor }}"
                        formControlName="RoleID"
                        [options]="roles"
                        optionLabel="name"
                        optionValue="id"
                        [filter]="true"
                        filterBy="name"
                        [showClear]="true"
                        [appendTo]="'body'"
                        [virtualScroll]="true"
                        [virtualScrollItemSize]="10"
                        [ngClass]="{ 'ng-invalid ng-dirty': form.get('RoleID')?.invalid && form.get('RoleID')?.touched }"
                        required>
                    </p-dropdown>
                </app-input-field>
            </div>
            <!-- User Name -->
            <div  class="mb-3 col-md-4 col-sm-6 col-xs-12">
                <app-input-field
                    [label]="'User Name' | translateToArabic: languageFactor"
                    [isRequired]="hasRequiredValidator('UserName')"
                    [isValid]="form.get('UserName')?.valid"
                    [icon]="'pi pi-user'">
                    <input
                        type="text"
                        pInputText
                        formControlName="UserName"
                        [ngClass]="{ 'is-invalid': form.get('UserName').invalid && form.get('UserName').touched }" />
                    <div *ngIf="form.get('UserName').invalid && form.get('UserName').touched" class="invalid-feedback">
                        Username is required and must be at least 3 characters long.
                    </div>
                </app-input-field>
            </div>
            <!-- Phone Number -->
            <div  class="mb-3 col-md-4 col-sm-6 col-xs-12">
                <app-input-field
                    [label]="'Phone Number' | translateToArabic: languageFactor"
                    [isRequired]="hasRequiredValidator('PhoneNumber')"
                    [isValid]="form.get('PhoneNumber')?.valid"
                    [icon]="'pi pi-phone'">
                    <input 
                        type="number" 
                        pInputText 
                        formControlName="PhoneNumber"
                        [ngClass]="{'is-invalid': form.get('PhoneNumber').invalid && form.get('PhoneNumber').touched}" 
                    />
                    <div *ngIf="form.get('PhoneNumber').invalid && form.get('PhoneNumber').touched" class="invalid-feedback">
                        Phone number is required.
                    </div>
                </app-input-field>
            </div>
            <!-- Email -->
            <div *ngIf="showRoleAdd || !data?.rowData" class="mb-3 col-md-4 col-sm-6 col-xs-12">
                <app-input-field
                    [label]="'Email' | translateToArabic: languageFactor"
                    [isRequired]="hasRequiredValidator('Email')"
                    [isValid]="form.get('Email')?.valid"
                    [icon]="'pi pi-envelope'">
                    <input type="text" pInputText formControlName="Email" placeholder="Ex. name@example.com" required/>
                    <div *ngIf="form.get('Email').invalid && form.get('Email').touched" class="invalid-feedback">
                        Email is required and must be a valid email address.
                    </div>
                </app-input-field>
            </div>
            <!-- Password -->
            <div *ngIf="showRoleAdd || !data?.rowData" class="mb-3 col-md-4 col-sm-6 col-xs-12">
                <app-input-field
                    [label]="'Password' | translateToArabic: languageFactor"
                    [isRequired]="hasRequiredValidator('Password')"
                    [isValid]="form.get('Password')?.valid"
                    [icon]="'pi pi-lock'">
                    <p-password [appendTo]="'body'" formControlName="Password" [toggleMask]="true">
                        <ng-template pTemplate="header">
                            <h6>Pick a password</h6>
                        </ng-template>
                        <ng-template pTemplate="footer">
                            <p-divider></p-divider>
                            <p class="mt-2">Suggestions</p>
                            <ul class="pl-2 ml-2 mt-0" style="line-height: 1.5">
                                <li>At least one lowercase</li>
                                <li>At least one uppercase</li>
                                <li>At least one numeric</li>
                                <li>Minimum 8 characters</li>
                            </ul>
                        </ng-template>
                    </p-password>
                </app-input-field>
            </div>
            <!-- Password Confirmation -->
            <div *ngIf="showRoleAdd || !data?.rowData" class="mb-3 col-md-4 col-sm-6 col-xs-12">
                <app-input-field
                    [label]="'Password Confirmation' | translateToArabic: languageFactor"
                    [isRequired]="hasRequiredValidator('PasswordConfirmation')"
                    [isValid]="!form.errors?.['passwordsNotMatch'] && form.get('PasswordConfirmation')?.valid"
                    [icon]="'pi pi-lock'">
                    <p-password
                        formControlName="PasswordConfirmation"
                        [toggleMask]="true"
                        [feedback]="false"
                        [ngClass]="{'ng-invalid ng-dirty': form.errors?.['passwordsNotMatch'] && form.get('PasswordConfirmation')?.touched}"
                    ></p-password>
                </app-input-field>
            </div>
            <!-- Image -->
            <div class="mb-3 col-12">
                <div class="d-flex align-items-center justify-content-center w-100" (drop)="onFileDrop($event)" (dragover)="onDragOver($event)" (dragleave)="onDragLeave($event)">
                    <label for="up" class="w-100">
                      <div class="upload-container my-2">
                        <div class="upload-label">
                          <img class="upload-img rounded-circle" [src]="selectedImageUrl || '../../../../../assets/images/photo-file.svg'" alt="" width="50" height="50">
                          <input #files type="file" id="up" class="upload-input" name="files" accept="image/*" (change)="handleFileInputChange($event)">
                          <div *ngIf="languageFactor == 'en'" class="text-center">Drop or<span class="text-primary"> Select Image</span></div>
                          <div *ngIf="languageFactor == 'ar'" class="text-center"><span class="text-primary">أختر صور</span>أدرج أو </div>
                        </div>
                      </div>
                    </label>
                </div>
            </div>
        </form>
    <div class="flex justify-content-start gap-2 mt-4 popup-actions-section">
        <p-button label="{{'Cancel'|translateToArabic:languageFactor}}" severity="danger"  (click)="onCancel()" />
        <p-button [disabled]="form.invalid" label="{{'Save'|translateToArabic:languageFactor}}" (click)="submit()" />
    </div>
</div>
