<!-- <div class="loadingio-spinner-double-ring-oph7bnr75ud">
    <div class="overlay">

    </div>
    <div class="ldio-evuzhh46y47">
        <div></div>
        <div></div>
        <div>
            <div></div>
        </div>
        <div>
            <div>

            </div>
        </div>
    </div>
</div>
<style type="text/css">
    @keyframes ldio-evuzhh46y47 {
        0% {
            transform: rotate(0)
        }

        100% {
            transform: rotate(360deg)
        }
    }

    .ldio-evuzhh46y47 div {
        box-sizing: border-box !important
    }

    .overlay {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background-color: rgb(225 225 225 / 50%);
        z-index: -1;
        transition: opacity 0.3s;
        opacity: 0.6;
        pointer-events: none;
    }

    .ldio-evuzhh46y47>div {
        position: absolute;
        width: 93.60000000000001px;
        height: 93.60000000000001px;
        top: 18.2px;
        left: 18.2px;
        border-radius: 50%;
        border: 10.4px solid #000;
        border-color: #47419b transparent #47419b transparent;
        animation: ldio-evuzhh46y47 1s linear infinite;
    }

    .ldio-evuzhh46y47>div:nth-child(2),
    .ldio-evuzhh46y47>div:nth-child(4) {
        width: 70.2px;
        height: 70.2px;
        top: 29.900000000000002px;
        left: 29.900000000000002px;
        animation: ldio-evuzhh46y47 1s linear infinite reverse;
    }

    .ldio-evuzhh46y47>div:nth-child(2) {
        border-color: transparent #c2c03f transparent #c2c03f
    }

    .ldio-evuzhh46y47>div:nth-child(3) {
        border-color: transparent
    }

    .ldio-evuzhh46y47>div:nth-child(3) div {
        position: absolute;
        width: 100%;
        height: 100%;
        transform: rotate(45deg);
    }

    .ldio-evuzhh46y47>div:nth-child(3) div:before,
    .ldio-evuzhh46y47>div:nth-child(3) div:after {
        content: "";
        display: block;
        position: absolute;
        width: 10.4px;
        height: 10.4px;
        top: -10.4px;
        left: 31.200000000000003px;
        background: #47419b;
        border-radius: 50%;
        box-shadow: 0 83.2px 0 0 #47419b;
    }

    .ldio-evuzhh46y47>div:nth-child(3) div:after {
        left: -10.4px;
        top: 31.200000000000003px;
        box-shadow: 83.2px 0 0 0 #47419b;
    }

    .ldio-evuzhh46y47>div:nth-child(4) {
        border-color: transparent;
    }

    .ldio-evuzhh46y47>div:nth-child(4) div {
        position: absolute;
        width: 100%;
        height: 100%;
        transform: rotate(45deg);
    }

    .ldio-evuzhh46y47>div:nth-child(4) div:before,
    .ldio-evuzhh46y47>div:nth-child(4) div:after {
        content: "";
        display: block;
        position: absolute;
        width: 10.4px;
        height: 10.4px;
        top: -10.4px;
        left: 19.5px;
        background: #c2c03f;
        border-radius: 50%;
        box-shadow: 0 59.800000000000004px 0 0 #c2c03f;
    }

    .ldio-evuzhh46y47>div:nth-child(4) div:after {
        left: -10.4px;
        top: 19.5px;
        box-shadow: 59.800000000000004px 0 0 0 #c2c03f;
    }

    .loadingio-spinner-double-ring-oph7bnr75ud {
        width: 130px;
        height: 130px;
        display: inline-block;
        overflow: hidden;

    }

    .ldio-evuzhh46y47 {
        width: 100%;
        height: 100%;
        position: relative;
        transform: translateZ(0) scale(1);
        backface-visibility: hidden;
        transform-origin: 0 0;
        /* see note above */
    }

    .ldio-evuzhh46y47 div {
        box-sizing: content-box;
    }

    /* generated by https://loading.io/ */
</style> -->
<div class="lodear-container">
    <div class="overlay"></div>
    <div class="content">
        <div class="img-container">
            <img src="../../../../assets/images/new-logo.png" alt="">
        </div>
        <!-- <i class="pi pi-spin pi-spinner" style="font-size: 3rem"></i> -->
        <!-- <div class="lds-hourglass"></div> -->
        <div class="loadingio-spinner-ellipsis-zw4lbay3fdm"><div class="ldio-mi8aj5vtxm">
            <div></div><div></div><div></div><div></div><div></div>
            </div>
        </div>
    </div>
            <style type="text/css">
            @keyframes ldio-mi8aj5vtxm {
               0% { transform: translate(6.0600000000000005px,40.4px) scale(0); }
              25% { transform: translate(6.0600000000000005px,40.4px) scale(0); }
              50% { transform: translate(6.0600000000000005px,40.4px) scale(1); }
              75% { transform: translate(40.4px,40.4px) scale(1); }
             100% { transform: translate(74.74px,40.4px) scale(1); }
            }
            @keyframes ldio-mi8aj5vtxm-r {
               0% { transform: translate(74.74px,40.4px) scale(1); }
             100% { transform: translate(74.74px,40.4px) scale(0); }
            }
            @keyframes ldio-mi8aj5vtxm-c {
               0% { background: #47419b }
              25% { background: #abbd81 }
              50% { background: #f8b26a }
              75% { background: #f4d360 }
             100% { background: #47419b }
            }
            .ldio-mi8aj5vtxm div {
              position: absolute;
              width: 20.2px;
              height: 20.2px;
              border-radius: 50%;
              transform: translate(40.4px,40.4px) scale(1);
              background: #47419b;
              animation: ldio-mi8aj5vtxm 1.5873015873015872s infinite cubic-bezier(0,0.5,0.5,1);
            }
            .ldio-mi8aj5vtxm div:nth-child(1) {
              background: #f4d360;
              transform: translate(74.74px,40.4px) scale(1);
              animation: ldio-mi8aj5vtxm-r 0.3968253968253968s infinite cubic-bezier(0,0.5,0.5,1), ldio-mi8aj5vtxm-c 1.5873015873015872s infinite step-start;
            }.ldio-mi8aj5vtxm div:nth-child(2) {
              animation-delay: -0.3968253968253968s;
              background: #47419b;
            }.ldio-mi8aj5vtxm div:nth-child(3) {
              animation-delay: -0.7936507936507936s;
              background: #f4d360;
            }.ldio-mi8aj5vtxm div:nth-child(4) {
              animation-delay: -1.1904761904761905s;
              background: #47419b;
            }.ldio-mi8aj5vtxm div:nth-child(5) {
              animation-delay: -1.5873015873015872s;
              background: #abbd81;
            }
            .loadingio-spinner-ellipsis-zw4lbay3fdm {
              width: 125px;
              height: 125px;
              display: inline-block;
              overflow: hidden;
              background: none;
            }
            .ldio-mi8aj5vtxm {
              width: 100%;
              height: 100%;
              position: relative;
              transform: translateZ(0) scale(1);
              backface-visibility: hidden;
              transform-origin: 0 0; /* see note above */
            }
            .ldio-mi8aj5vtxm div { box-sizing: content-box; }
            /* generated by https://loading.io/ */
            </style>
</div>
