
<div class="landing-page">
    <div class="container">
        <div class="soon-container">
            <h1>Hi {{userName}}</h1>
            <br>
            <p class="mt-1">
                <!-- Thank you for subscribing to Assemble ERP! <br>
                 We're excited to welcome you on board and can't wait for you to experience the power of our system.<br>
                Your free trial starts on 1/4/2024 as we working on preparing your environment and runs until 15/4/2024.<br>
                Think of us as your guide on your business journey.<br>
                We're here to help you take control and achieve success!
                To get started with your free trial, simply log in to your Assemble ERP account on 1/4/2024.<br> -->
                Please, Check your inbox to confirm your account. 
                <small class="mt-2">The Assemble Team</small>
            </p>
            <img class="smile-image" src="../../../../../assets/images/email.gif" alt="">
            <ul>
                <li>
                    <a href="https://www.facebook.com/assembleerp?mibextid=ZbWKwL" target="_blank">
                        <img src="../../../../../assets/images/facebook.svg" alt="facebook">
                    </a>
                </li>
                <li>
                    <a href="https://www.instagram.com/assemble_erp_?igsh=MWxhOGg0MmhidWthMw==" target="_blank">
                      <img src="../../../../../assets/images/instagram.svg" alt="instagram">
                    </a>
                </li>
                <li>
                    <a target="_blank" href="https://www.linkedin.com/search/results/all/?fetchDeterministicClustersOnly=true&heroEntityKey=urn%3Ali%3Aorganization%3A75097417&keywords=assemble%20erp&origin=RICH_QUERY_SUGGESTION&position=0&searchId=5b2a5ab6-1867-4e7b-81e3-fbedff64e1a4&sid=Dk7&spellCorrectionEnabled=false">
                      <img src="../../../../../assets/images/linkedin.svg" alt="linkedin">
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>
<!-- <h1></h1> -->
<!-- <marquee class="soon-text" behavior="scroll" direction="left">Soooooooon !!!!</marquee> -->
