<div class="container">
    <form [formGroup]="form">
        <div class="row">
            <!-- Amount -->
            <app-input-field class="mb-3 col-lg-6 col-md-6 col-sm-12 col-xs-12"
                [label]="languageFactor === 'en' ? 'Amount' : 'المبلغ'"
                [languageFactor]="languageFactor"
                [isRequired]="hasRequiredValidator(form,'Amount')"
                [isValid]="form.get('Amount')?.valid"
                icon="pi pi-money-bill">
                <p-inputNumber
                    mode="currency"
                    currency="EGP"
                    locale="en-EG"
                    formControlName="Amount"
                    [placeholder]="languageFactor === 'en' ? 'Enter amount' : 'أدخل المبلغ'"
                    [ngClass]="{'ng-invalid ng-dirty': form.get('Amount')?.invalid && form.get('Amount')?.touched}">
                </p-inputNumber>
            </app-input-field>

            <!-- Type -->
            <app-input-field class="mb-3 col-lg-6 col-md-6 col-sm-12 col-xs-12"
                [label]="languageFactor === 'en' ? 'Type' : 'النوع'"
                [languageFactor]="languageFactor"
                [isRequired]="hasRequiredValidator(form,'Type')"
                [isValid]="form.get('Type')?.valid"
                icon="pi pi-tag">
                <p-dropdown
                    formControlName="Type"
                    [options]="typeOptions"
                    optionLabel="label"
                    optionValue="value"
                    [placeholder]="'Select type'|translateToArabic:languageFactor"
                    [ngClass]="{'ng-invalid ng-dirty': form.get('Type')?.invalid && form.get('Type')?.touched}">
                </p-dropdown>
            </app-input-field>
        </div>
    </form>
    
    <div class="add-actions">
        <button pButton (click)="submit()" class="add-btn add-save-btn" [disabled]="form.invalid">
          <i class="pi pi-save"></i> {{languageFactor === 'en' ? 'Save' : 'حفظ'}}
        </button>
        <button pButton (click)="onCancel()" class="add-btn add-cancel-btn">
          <i class="pi pi-times"></i> {{languageFactor === 'en' ? 'Cancel' : 'إلغاء'}}
        </button>
    </div>
</div>
