<div class="container-fluid">
    <div class="row text-center">
        <div *ngIf="Wallets" class="col-md-3 box">
            <a class="card" routerLink="/pages/wallets">
                <div class="card-body">
                    <i class="fa-solid fa-wallet"></i>
                    <h5 *ngIf="languageFactor === 'en'" class="card-title">Wallets</h5>
                    <h5 *ngIf="languageFactor === 'ar'" class="card-title">المحافظ</h5>
                    <span *ngIf="languageFactor === 'en'" class="card-description">Manage wallets and transactions.</span>
                    <span *ngIf="languageFactor === 'ar'" class="card-description">إدارة المحافظ والمعاملات.</span>
                </div>
            </a>
        </div>

        <div *ngIf="BankAccounts" class="col-md-3 box">
            <a class="card" routerLink="/pages/bank-accounts">
                <div class="card-body">
                    <i class="fa-solid fa-building-columns"></i>
                    <h5 *ngIf="languageFactor === 'en'" class="card-title">Bank Accounts</h5>
                    <h5 *ngIf="languageFactor === 'ar'" class="card-title">الحسابات البنكية</h5>
                    <span *ngIf="languageFactor === 'en'" class="card-description">Manage bank accounts.</span>
                    <span *ngIf="languageFactor === 'ar'" class="card-description">إدارة الحسابات البنكية.</span>
                </div>
            </a>
        </div>

        <div *ngIf="YellowCards" class="col-md-3 box">
            <a class="card" routerLink="/pages/yellow-cards">
                <div class="card-body">
                    <i class="fa-solid fa-credit-card"></i>
                    <h5 *ngIf="languageFactor === 'en'" class="card-title">Yellow Cards</h5>
                    <h5 *ngIf="languageFactor === 'ar'" class="card-title">البطاقات الصفراء</h5>
                    <span *ngIf="languageFactor === 'en'" class="card-description">Manage yellow cards.</span>
                    <span *ngIf="languageFactor === 'ar'" class="card-description">إدارة البطاقات الصفراء.</span>
                </div>
            </a>
        </div>

        <div *ngIf="CreditCards" class="col-md-3 box">
            <a class="card" routerLink="/pages/credit-cards">
                <div class="card-body">
                    <i class="fa-solid fa-credit-card"></i>
                    <h5 *ngIf="languageFactor === 'en'" class="card-title">Credit Cards</h5>
                    <h5 *ngIf="languageFactor === 'ar'" class="card-title">بطاقات الشراء</h5>
                    <span *ngIf="languageFactor === 'en'" class="card-description">Manage credit cards.</span>
                    <span *ngIf="languageFactor === 'ar'" class="card-description">إدارة بطاقات الشراء.</span>
                </div>
            </a>
        </div>

        <div *ngIf="Traders" class="col-md-3 box">
            <a class="card" routerLink="/pages/traders">
                <div class="card-body">
                    <i class="fa-solid fa-handshake"></i>
                    <h5 *ngIf="languageFactor === 'en'" class="card-title">Traders</h5>
                    <h5 *ngIf="languageFactor === 'ar'" class="card-title">التجار</h5>
                    <span *ngIf="languageFactor === 'en'" class="card-description">Manage traders information.</span>
                    <span *ngIf="languageFactor === 'ar'" class="card-description">إدارة معلومات التجار.</span>
                </div>
            </a>
        </div>

        <div *ngIf="Phones" class="col-md-3 box">
            <a class="card" routerLink="/pages/phones">
                <div class="card-body">
                    <i class="fa-solid fa-mobile-screen"></i>
                    <h5 *ngIf="languageFactor === 'en'" class="card-title">Phones</h5>
                    <h5 *ngIf="languageFactor === 'ar'" class="card-title">الهواتف</h5>
                    <span *ngIf="languageFactor === 'en'" class="card-description">Manage phones and devices.</span>
                    <span *ngIf="languageFactor === 'ar'" class="card-description">إدارة الهواتف والأجهزة.</span>
                </div>
            </a>
        </div>

        <div *ngIf="Privileges" class="col-md-3 box">
            <a class="card" routerLink="/pages/privileges-management">
                <div class="card-body">
                    <i class="fa-solid fa-key"></i>
                    <h5 *ngIf="languageFactor === 'en'" class="card-title">Privileges</h5>
                    <h5 *ngIf="languageFactor === 'ar'" class="card-title">الصلاحيات</h5>
                    <span *ngIf="languageFactor === 'en'" class="card-description">Manage user privileges.</span>
                    <span *ngIf="languageFactor === 'ar'" class="card-description">إدارة صلاحيات المستخدمين.</span>
                </div>
            </a>
        </div>

        <div *ngIf="Breakdown" class="col-md-3 box">
            <a class="card" routerLink="/pages/breakdown">
                <div class="card-body">
                    <i class="fa-solid fa-boxes-stacked"></i>
                    <h5 *ngIf="languageFactor === 'en'" class="card-title">Breakdown</h5>
                    <h5 *ngIf="languageFactor === 'ar'" class="card-title">الصناديق</h5>
                    <span *ngIf="languageFactor === 'en'" class="card-description">Manage boxes in and out.</span>
                    <span *ngIf="languageFactor === 'ar'" class="card-description">إدارة الصناديق الواردة والصادرة.</span>
                </div>
            </a>
        </div>
    </div>
</div>
