<div class="landing-page">
    <div class="container">
        <div class="soon-container">
            <h1> </h1>
            <br>
            <p class="mt-1">
                Verification Successfully
                <br>
              
            </p>
            <img class="smile-image" src="../../../../../assets/images/giphy.gif" alt="">
            <div class="login-button">
                <a href="/login" class="button">Go To Login Page</a>
            </div>
            <ul>
                <li>
                    <a href="https://www.facebook.com/assembleerp?mibextid=ZbWKwL" target="_blank">
                        <img src="../../../../../assets/images/facebook.svg" alt="facebook">
                    </a>
                </li>
                <li>
                    <a href="https://www.instagram.com/assemble_erp_?igsh=MWxhOGg0MmhidWthMw==" target="_blank">
                      <img src="../../../../../assets/images/instagram.svg" alt="instagram">
                    </a>
                </li>
                <li>
                    <a target="_blank" href="https://www.linkedin.com/search/results/all/?fetchDeterministicClustersOnly=true&heroEntityKey=urn%3Ali%3Aorganization%3A75097417&keywords=assemble%20erp&origin=RICH_QUERY_SUGGESTION&position=0&searchId=5b2a5ab6-1867-4e7b-81e3-fbedff64e1a4&sid=Dk7&spellCorrectionEnabled=false">
                      <img src="../../../../../assets/images/linkedin.svg" alt="linkedin">
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>

<!-- <h1></h1> -->
<!-- <marquee class="soon-text" behavior="scroll" direction="left">Soooooooon !!!!</marquee> -->
