// ========================================
// Font Definitions
// ========================================

@font-face {
    font-family: "Gilroy";
    src: url("../Gilroy-Regular.ttf") format("ttf"),
        url("../Gilroy-Regular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "GE SS Two";
    src: url("../GE_SS_Two_Light.otf") format("otf"),
        url("../GE_SS_Two_Light.otf") format("truetype");
    font-weight: normal;
    font-style: normal;
}
